{{ container_ansible_yml_managed_banner }}

services:

  {{ container_name }}:
    image: {{ container_image }}
{% if container_hostname is defined %}
    hostname: {{ container_hostname }}
{% endif %}
    restart: {{ container_docker_restart_policy }}
    networks:
      - container_network
{% if container_volumes | length > 0 %}
    volumes:
{% for item in container_volumes %}
      - {{ item }}
{% endfor %}
{% endif %}
{% if container_ports | length > 0 %}
    ports:
{% for port in container_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if container_environment.items() | length > 0 %}
    environment:
{% for key, val in container_environment.items() %}
      {{ key }}: {{ val }}
{% endfor %}
{% endif %}
networks:
  container_network:
    name: {{ container_network }}
    external: true
